<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">

    <p>
      I'm enthusiastic about solving problems, challenges and creativity. Programming has helped me strengthen and
      develop several characteristics which I believe are important to any successful person. The computer programming
      problems and challenges, constant learning, and satisfaction that come from programming to innovative products
      with engaging design make me love my job.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably traveling,
      working out at the gym, or watching movies.
    </p>


    {% include employment-status.html %}
  </div>
</section>