<section class="section featured-projects">
  <div class="section__title">Completed Projects</div>
  <div class="section__content">
    <div class="project">
      <figure class="project__pic">
        <a href="#" target="_blank">
          <img src="{{site.baseurl}}/img/featured/gigsdoers/gigsdoers.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="#" target="_blank">Gigsdoers</a>
        </div>
        <p>Platform empowering users to discover and applyfor flexible job opportunities that match theirpreferences and
          schedules</p>
        <div class="other-projects project__used"> <span class="project__used__item">Next.Js</span><span
            class="project__used__item">REST API</span></div>
      </figcaption>

    </div>

    <div class="project">
      <figure class="project__pic">
        <a href="https://blog.transtrack.co/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/transtrack/blog-transtrack.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://blog.transtrack.co/" target="_blank">Blog Transtrack.id</a>
        </div>
        <p>Fully responsive and user-friendly blog to provides a platform for businesses to share updates, news, and
          industry insights with their audience</p>
        <div class="other-projects project__used"> <span class="project__used__item">Wordpress</span></div>
      </figcaption>

    </div>
    <div class="project">
      <figure class="project__pic">
        <a href="https://www.transtrack.co/id" target="_blank">
          <img src="{{site.baseurl}}/img/featured/transtrack/transtrack.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://www.transtrack.co/id" target="_blank">Transtrack</a>
        </div>
        <p>Fully responsive and user-friendly company website
          to enhance the online presence of a growing
          business</p>
        <div class="other-projects project__used"> <span class="project__used__item">Laravel</span></div>
      </figcaption>

    </div>
    <div class="project">
      <figure class="project__pic">
        <a href="#" target="_blank">
          <img src="{{site.baseurl}}/img/featured/immap/resource-immap.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="#" target="_blank">Product Resource</a>
        </div>
        <p>Help users easily browse and manage wide range of products with structured and searchable product catalog by
          categories, brands and other filters</p>
        <div class="other-projects project__used"> <span class="project__used__item">React.Js</span><span
            class="project__used__item">Microsoft 365</span><span class="project__used__item">Microsoft Graph</span>
        </div>
      </figcaption>

    </div>
    <div class="project">
      <figure class="project__pic">
        <a href="https://akeabadi.com/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/ake/ake-1.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://akeabadi.com/" target="_blank">Ake Abadi</a>
        </div>
        <p>Fully responsive and user-friendly
          landing page to enhance the online
          presence of a growing business</p>
        <div class="other-projects project__used"> <span class="project__used__item">Wordpress</span>

        </div>
      </figcaption>

    </div>
  </div>
</section>